In [82]:
import pandas as pd
from scipy.stats import zscore
from datetime import datetime
from langdetect import detect
from textblob import TextBlob
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk

In [83]:
calendar = pd.read_csv('calendar.csv')
host = pd.read_csv('hosts.csv')
listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('translateed_reviews.csv')
calendar.shape

(319192, 8)

## Data Understanding and feature creation (Task 1):

##### Look at the table Calendar how many rows and unique listing ids are present?

In [84]:
print('# of rows in calendar table: ' ,calendar.shape[0])
print('# of unique listing Ids in calendar table: ' ,calendar['listing_id'].nunique())

# of rows in calendar table:  319192
# of unique listing Ids in calendar table:  1749

### Are there any implications when it comes to having more rows and less unique listing ids? 
##### No, Implication are there until there are multiple values in the primary key of the table.

#### Look at the adjusted_price column in Calendar table. What transformations you will need to  perform so that you can create a column that can be used as a target/response variable?

In [85]:

if calendar['adjusted_price'].isna().any():
    calendar = calendar.dropna(subset=['adjusted_price'])
calendar['adjusted_price'] = calendar['adjusted_price'].astype(float)
q1 = calendar['adjusted_price'].quantile(0.25)
q3 = calendar['adjusted_price'].quantile(0.75)
iqr = q3 - q1
calendar = calendar[calendar['adjusted_price'] > (q1 - 1.5 * iqr)]
calendar = calendar[calendar['adjusted_price'] < (q3 + 1.5 * iqr)]
calendar['adjusted_price_std'] = zscore(calendar['adjusted_price'])
calendar['target'] = calendar['adjusted_price']
calendar.shape

(296364, 10)

In [86]:
calendar['date'] = pd.to_datetime(calendar['date'])
grouped = calendar.groupby('listing_id')
calendar['total_days'] = grouped['date'].transform(lambda x: (x.max() - x.min()).days)
calendar['count_available'] = grouped['available'].transform(lambda x: (x == 1).sum())
calendar['count_not_available'] = grouped['available'].transform(lambda x: (x == 0).sum())
calendar['count_no_status'] = calendar['total_days'] -(calendar['count_available']+calendar['count_not_available'])
calendar

,calender_id,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,adjusted_price_std,target,total_days,count_available,count_not_available,count_no_status
0,1,40334325,2022-08-03,0,56.0,56.0,3,5,-0.696836,56.0,358,42,142,174
1,2,22742449,2022-11-13,1,95.0,95.0,2,99,0.302732,95.0,361,166,6,189
2,3,34621717,2022-04-17,0,75.0,75.0,2,1125,-0.209867,75.0,364,2,192,170
3,4,38281744,2022-01-31,1,150.0,150.0,1,1000,1.712378,150.0,362,120,74,168
4,5,18835003,2022-05-21,0,100.0,100.0,2,1125,0.430882,100.0,361,1,181,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319187,319188,52729945,2022-07-06,1,64.0,64.0,1,10,-0.491796,64.0,360,195,4,161
319188,319189,36953202,2022-07-08,0,140.0,140.0,3,1125,1.456079,140.0,361,46,146,169
319189,319190,39580214,2022-06-13,1,49.0,49.0,1,13,-0.876245,49.0,362,173,11,178
319190,319191,49016014,2022-10-26,0,60.0,60.0,2,30,-0.594316,60.0,364,34,146,184
319191,319192,31438714,2022-06-12,0,104.0,104.0,2,1125,0.533401,104.0,364,23,157,184

In [87]:
grouped_calender = calendar.groupby('listing_id').agg({'date':'max','price':'mean',	'adjusted_price':'mean','minimum_nights':'min',	'maximum_nights':'max','target':'mean','total_days':'max','count_available':'max'	,'count_not_available':'max'	,'count_no_status':'max'}).reset_index()
grouped_calender

,listing_id,date,price,adjusted_price,minimum_nights,maximum_nights,target,total_days,count_available,count_not_available,count_no_status
0,50904,2022-12-25,165.329670,160.241758,1,60,160.241758,364,132,50,182
1,116134,2022-12-25,150.000000,150.000000,2,1125,150.000000,362,167,38,157
2,218916,2022-12-24,85.000000,85.000000,1,50,85.000000,362,0,183,179
3,224333,2022-12-25,16.000000,16.000000,14,365,16.000000,364,175,14,175
4,224682,2022-12-24,87.272727,87.272727,2,30,87.272727,356,150,26,180
...,...,...,...,...,...,...,...,...,...,...,...
1662,53916361,2022-12-23,38.787234,38.787234,1,365,38.787234,362,44,144,174
1663,53916524,2022-12-25,88.000000,88.000000,3,365,88.000000,364,194,13,157
1664,53928545,2022-12-24,49.000000,49.000000,20,1125,49.000000,363,195,0,168
1665,53929354,2022-12-24,90.000000,90.000000,1,365,90.000000,358,173,2,183
1666,53983318,2022-12-24,150.000000,150.000000,3,365,150.000000,362,172,2,188

In [88]:
print("Price:",round(calendar['price'].mean(),2),"\nAdjusted price:",round(calendar['adjusted_price'].mean(),2),"\nTarget:",round(calendar['target'].mean(),2))

Price: 83.38
Adjusted price: 83.19
Target: 83.19

#### Look at the tables Listings, Hosts and Reviews to come up with a list of potential transformations needed in order to have predictors that can be used to predict the listing price.

In [89]:
host['host_since'] = pd.to_datetime(host['host_since']).dt.date
host['Host Age'] = round((datetime.today().date() - host['host_since']).astype('timedelta64[s]').astype('int64')/60/60/24/365,2)

host

,host_id,host_name,host_since,host_location,host_about,Host Age
0,234077,Karin,2010-09-14,"Antwerp, Flanders, Belgium",Ever since my childhood I dreamt of having my ...,13.58
1,334804,Ann,2011-01-04,"Antwerp, Flemish Region, Belgium","Ciao, \r\nlooking forward to meet you!\r\nI lo...",13.28
2,413052,Valérie,2011-02-27,"Antwerp, Flanders, Belgium",NaN,13.13
3,452791,Tatiana,2011-03-20,"Antwerp, Flanders, Belgium",World traveler with a penchant for adrenaline ...,13.07
4,462975,Els,2011-03-25,"Edegem, Flanders, Belgium",I studied languages and cultural anthropology ...,13.06
...,...,...,...,...,...,...
1106,434049804,Mathias,2021-11-30,BE,NaN,2.36
1107,435722877,Tatjana,2021-12-12,BE,NaN,2.33
1108,435999398,Flor,2021-12-14,"Antwerp, Flanders, Belgium",NaN,2.33
1109,436739371,Naser,2021-12-20,BE,NaN,2.31
1110,437309332,Desi,2021-12-24,NL,NaN,2.30

In [90]:
listings["# of amenities"] = listings['amenities'].apply(lambda x: len(x.strip('[]').split(', ')))
categories = ['Basic', 'Essential', 'Premium', 'Luxury', 'Ultra-Luxury']
ranges = [0, 14, 28, 42, 56, 70]
listings['Category of amenities'] = pd.cut(listings["# of amenities"], bins=ranges, labels=categories, include_lowest=True)
listings.shape

(1749, 16)

In [9]:
def translate_to_english(comment):
    translator = Translator()
    translation = translator.translate(comment, dest='en')
    return translation.text

reviews['Translated_Comment'] = reviews['comments']

for index, row in reviews.iterrows():
    comment = row['comments']
    try:
        lang = detect(comment)
        if lang != 'en':
            translated_comment = translate_to_english(comment)
            reviews.at[index, 'Translated_Comment'] = translated_comment
    except:
        print(f"Failed to detect language for comment at index {index}{comment}")

reviews

Failed to detect language for comment at index 486nan
Failed to detect language for comment at index 1373nan
Failed to detect language for comment at index 14524,8
Failed to detect language for comment at index 1905.
Failed to detect language for comment at index 20674,5/5
Failed to detect language for comment at index 2110-
Failed to detect language for comment at index 2873Heerlijk verblijf.
Failed to detect language for comment at index 3267...
Failed to detect language for comment at index 3297La habitación y el baño, que son las únicas partes de la casa que se usan, son como en el anuncio. La vivienda está en una zona muy tranquila, y muy próxima a la estación de Berchem, lo cual resulta muy cómodo.
Failed to detect language for comment at index 3298An ist eine tolle Gastgeberin. Die Kommunikation hat super funktioniert und wir haben uns sehr wohl gefällt. Ein wirklich schönes Haus und eine super Lage. Ich würde diese Unterkunft jederzeit wieder buchen.
Failed to detect language for comment at index 3596nan
Failed to detect language for comment at index 3867.
Failed to detect language for comment at index 3995We hebben een aangenaam verblijf gehad :)! De kamer ligt niet zo ver van het centraal station evenals de Meir. Ideaal dus! De kamer was tip top in orde en ligt in een mooi herenhuis! Het was er zeer gezellig verblijven! Ondanks we Greta niet konden zien toen we aankwamen, gaf ze ons toch alle info die we nodig hadden voor ons verblijf!  Bij vertrek maakten we gelukkig wel kennis met deze vriendelijke vrouw :)! Wanneer we nog eens in Antwerpen zijn, zouden  we hier gerust nog eens verblijven :)! Naar onze mening geen enkel negatief puntje!
Failed to detect language for comment at index 4017nan
Failed to detect language for comment at index 4637‍♂️
Failed to detect language for comment at index 4688-
Failed to detect language for comment at index 5418.
Failed to detect language for comment at index 5426Yara’s loft ligt echt in het midden van het oude centrum, tussen de terrassen en restaurants en vlakbij de belangrijkste bezienswaardigheden. Het is heerlijk om zo van het drukke uitgaansgebied je appartementje in te rollen. Het heeft ook een keerzijde: bij mooi weer op een uitgaansavond blijft het lang rumoerig buiten en dat hoor je wel in de loft.<br/>De loft is zelf is ruim en licht. De ingang zit wat bijzonder: tot tweemaal toe moesten we bezoekers van het terras vragen even plaats te maken, zodat wij bij deur konden. Maar dat was verder geen punt. Voor de drie steile trappen moet je goed ter been zijn, maar eenmaal boven ontbreekt het aan niets en maakt het uitzicht op torens en daken van het historisch centrum alles goed!
<br/>De gastheer was in het appartement toen wij aankwamen en daarna hebben wij hem niet meer nodig gehad. Het was alsof het appartement ons eigen huis was.n zeer ruime appartement van Jande En Marie. Het was een fantastische ervaring om midden in de stad zo'n groot appartement tot je beschikking te hebben.
Failed to detect language for comment at index 6238.
Failed to detect language for comment at index 6265…
Failed to detect language for comment at index 6474.
Failed to detect language for comment at index 6758We hebben een heerlijk weekend in Antwerpen gehad. Mede dankzij de mooie en fijne loft bij Jasper en Laura! De loft is heel mooi, netjes en voorzien van alle gemakken. Ook hebben we genoten van het heerlijke ontbijt wat ze kwamen brengen op de kamer. De locatie is heel goed, niet ver lopen vanaf het station en ook het historische centrum is goed te bereiken. Zeker voor herhaling vatbaar!
Failed to detect language for comment at index 7023.
Failed to detect language for comment at index 7201:)
Failed to detect language for comment at index 7279nan
Failed to detect language for comment at index 7516.
Failed to detect language for comment at index 7538.
Failed to detect language for comment at index 7898.
Failed to detect language for comment at index 7915.
<br/>Je vous recommande vivement d'aller chez Anne lors de votre voyage à Anvers !laires pour trouver le logement, Anne a pris le temps de nous présenter la maison et les endroits atypiques de la ville. De plus, son mari nous a parfaitement expliqué quels étaient les places et musées à visiter, le tout dans un français quasiment parfait ! Nous nous sommes vite senties comme chez nous. De plus, la maison est vraiment magnifique, une décoration raffinée dans un style ancien, c'est absolument incroyable.
Failed to detect language for comment at index 8763.
Failed to detect language for comment at index 8913.
Failed to detect language for comment at index 9596Wir fanden eine geräumige, gut ausgestattete Unterkunft vor, 10 Gehminuten vom Bahnhof Centraal entfernt. Die Wohnung war sauber, nur die Wände waren etwas abgenutzt. Die Treppe ins 1. OG. ist schmal, also besser ohne großes, schweres Gepäck anreisen. <br/>Die Kommunikation  mit der sehr netten Gastgeberin war ausführlich und informativ. Die Gegend ist ruhig und sehr international. Viele Geschäfte, Cafés und Bars in der Nähe.<br/>Antwerpen hat so viel zu bieten in Sachen Kultur, Architektur und Gastronomie, dass wir nach vier Tagen die Stadt sehr ungern verließen.<br/>Wir empfehlen wärmstens die Unterkunft von Christel.
Failed to detect language for comment at index 10135...
Failed to detect language for comment at index 10151nan
Failed to detect language for comment at index 10684nan
Failed to detect language for comment at index 10827Een geweldig pand met authentieke details en heel centraal in een van de leukste buurtjes van Antwerpen. Wouter was een hele gastvrije host, die vol passie over het pand sprak en die vol tips zat. Al met al een echte aanrader
Failed to detect language for comment at index 11108nan
Failed to detect language for comment at index 11611.
Failed to detect language for comment at index 11907Ксения - очень позитивная, отзывчивая и общительная. Договорились о максимально удобном для нас времени заезда. По приезду нас встрели чай, кофе, йогурты, бутерброды. Квартира двухэтажная, довольно необычная. Мы останавливались на 2 ночи - удобно было как добираться от и до вокзала, так и до центра (15-20 минут пешком). Нам все понравилось.
Failed to detect language for comment at index 11911Ксения - прекрасная хозяйка! Рекомендую!
Failed to detect language for comment at index 13302.
Failed to detect language for comment at index 13495.
Failed to detect language for comment at index 13597nan
Failed to detect language for comment at index 13954/
Failed to detect language for comment at index 14314.
Failed to detect language for comment at index 14320.
Failed to detect language for comment at index 14324.
Failed to detect language for comment at index 14776Anfitrión muy asequible y educado, con respuesta rápida  a mis dudas. Apartamento con mucho encanto en un barrio muy tranquilo y agradable.
Failed to detect language for comment at index 14816.
Failed to detect language for comment at index 15172.
Failed to detect language for comment at index 15274-
Failed to detect language for comment at index 15443-
Failed to detect language for comment at index 15590.
Failed to detect language for comment at index 15754-
Failed to detect language for comment at index 16149nan
Failed to detect language for comment at index 16169-
Failed to detect language for comment at index 16221.
Failed to detect language for comment at index 16762Wij arriveerden al snel op de plaats van bestemming midden in het (oude)centrum! We waren wat later vanwege een vertraagde  trein maar na een telefoontje kwam Marc opgewekt aanfietsen met de sleutel. Binnen had hij al een kaart klaarliggen van Antwerpen en gaf een paar tips waarna hij ons de kamer liet zien. Mooie grote ramen, stijlvolle inrichting,  eenvoudige maar brandschone douche, linnen op de bedden (het sliep heerlijk!), fles water, erg attent. Toen we de volgende ochtend beneden kwamen was de tafel gedekt. Gekookt eitje, koffie, broodjes, beleg. We werden op onze wenken bediend, letterlijk maar heel discreet.  Wat een toch nog onverwachte verassing die zó bijdroeg aan het ‘weekend-weg gevoel’, heel relaxte sfeer, wij komen zeker nog eens terug. Bedankt Marc!
Failed to detect language for comment at index 16795Die Unterkunft hält das was dieBilder versprechen . sehr zu empfehlen , man fühlt sich sofort sehr wohl .
Failed to detect language for comment at index 16800Super netjes! Ik zou het zeker aanraden voor een verblijf in Antwerpen.
Failed to detect language for comment at index 17275.
Failed to detect language for comment at index 17478Wir waren mit unserem Aufenthalt im Silberschmiedehaus in jeder Hinsicht sehr zufrieden. Ada und Wim sind sehr freundliche und hilfsbereite Gastgeber.
Failed to detect language for comment at index 17536Das Appartement liegt absolutel ruhig mitten im Zentrum nähe Grote Market in einem versteckten Hinterhof in einer umgebauten und restaurierten Silberschmiede! Die Vermieter sind sehr freundlich und hilfsbereit, wir bekamen sogar  2 Bier und Chips und Tipps mit Einzeichnen auf dem Stadtplan und auf Nachfrage eine Decke für einen Ausflug an den Strand am Flussufer auf der anderen Seite der Schelde. <br/>Leider ist das obere Bett nur mit einer dünnen und kleinen Matratze ausgestattet, also eher für Kinder, als für einen großen Erwachsen geeignet. Die Größe wurde aber auch in der Beschreibung angegeben. Das Badezimmer war sehr sauber und groß mit schöner Dusche, bloß leider eine Treppe unter dem Appartement, was ich aber nicht so schlimm fand, weiß man auch schon vorher aus der Beschreibung. Alles in allem genauso, wie erhofft und erwartet, empfehlenswert! Danke, Ada&Wim!
Failed to detect language for comment at index 17858nan
Failed to detect language for comment at index 17970Logement très bien situé (300m de la gare) et conforme aux photos. Très agréable et bien équipé. Lahkim est très sympathique et accueillant.
Failed to detect language for comment at index 17989.
Failed to detect language for comment at index 18598.
Failed to detect language for comment at index 18983++++
Failed to detect language for comment at index 19062-
Failed to detect language for comment at index 19338..
Failed to detect language for comment at index 19399.
Failed to detect language for comment at index 19572.
Failed to detect language for comment at index 19771Heerlijk huis in een gezellige buurt. We werden hartelijk ontvangen, fijne communicatie en een heerlijk bed! Dank u wel<br/><br/>Groetjes
Failed to detect language for comment at index 19918Super logement, propre, bien décoré et bien décoré !<br/>Hôte très réactif et à l'écoute
Failed to detect language for comment at index 19926Très bon plan! Hôte hyper-reactif. Rien à redire.
Failed to detect language for comment at index 19938Mit Stil eingerichtetes Appartment; viel Liebe zum Detail, hochwertige Ausstattung, Natursteinbad, lädt zum Verweilen ein - besonders, wenn es mal regnet! Perfekt für zwei Erwachsene und zwei Kinder geeignet. Wir kommen sehr gerne wieder!
Failed to detect language for comment at index 20481.
Failed to detect language for comment at index 20775.
Failed to detect language for comment at index 20806nan
Failed to detect language for comment at index 2176010/10
Failed to detect language for comment at index 21967.
<br/>Si vuelvo a Ámberes volveré a ese apartamento.ron unas cervezas belgas para el primer día. tá muy bien equipado. Tanto la ropa de cama como el equipamiento de cocina son nuevos y muy limpios.
Failed to detect language for comment at index 22174Superbe appartement, très grand, très beau ! Bon emplacement ! Confortable pour une grande famille !
Failed to detect language for comment at index 22210-
Failed to detect language for comment at index 22803,
Failed to detect language for comment at index 23480nan
Failed to detect language for comment at index 24684.
Failed to detect language for comment at index 24868Top ruimte in combinatie met een geweldige ligging. Deze staat op de lijst om naar terug te keren!
Failed to detect language for comment at index 24888.
Failed to detect language for comment at index 24975.
Failed to detect language for comment at index 24982❤️❤️❤️
Failed to detect language for comment at index 25478..
Failed to detect language for comment at index 26009.
Failed to detect language for comment at index 26816.
Failed to detect language for comment at index 26849-
Failed to detect language for comment at index 27182<3
Failed to detect language for comment at index 27955…
Failed to detect language for comment at index 28077..
Failed to detect language for comment at index 28288..
Failed to detect language for comment at index 28545Schitterend ingericht en alles is aanwezig voor een leuk verblijf in Antwerpen. We zijn super ontvangen en zijn goed op weg geholpen. Tramhalte om de hoek en brengt je brengt je binnen een paar minuten in het centrum! Aanrader!!!
Failed to detect language for comment at index 28965.
Failed to detect language for comment at index 29071.
Failed to detect language for comment at index 29206.
Failed to detect language for comment at index 29426-
Failed to detect language for comment at index 29503nan
Failed to detect language for comment at index 29909!
Failed to detect language for comment at index 30055.
Failed to detect language for comment at index 30122.
Failed to detect language for comment at index 30167Het was top! Super mooi appartement!
Failed to detect language for comment at index 30173Mooie plek boven Allie’s lunchroom. Uitstekende locatie, super centraal maar rustige straat. Loft is mooi ingericht en heeft een lekker matras. <br/>Allie is erg aardig en communicatief. <br/>Wc is 1 verdieping lager dan de slaapkamer.
Failed to detect language for comment at index 30340Mooi appartement met goede voorzieningen. Super voor een weekend weg!
Failed to detect language for comment at index 30415.
Failed to detect language for comment at index 3042110
Failed to detect language for comment at index 30546.
Failed to detect language for comment at index 30790.
Failed to detect language for comment at index 30855nan
Failed to detect language for comment at index 30885nan
Failed to detect language for comment at index 30904100%!!
Failed to detect language for comment at index 31352Een mooi modern huis aan de rand van een bos. De kamer is ruim, goed verzorgd en super netjes. Els heet u heel vriendelijk welkom en leent u zelfs een fiets. Aanrader!
Failed to detect language for comment at index 31669.
Failed to detect language for comment at index 31838nan
Failed to detect language for comment at index 32065-
Failed to detect language for comment at index 32195.
Failed to detect language for comment at index 32281nan
Failed to detect language for comment at index 32553Heerlijk verblijf gehad in een zeer sfeervolle studio. De locatie is perfect, vlakbij de grote markt!
Failed to detect language for comment at index 32657-
Failed to detect language for comment at index 32753.
Failed to detect language for comment at index 32939nan
Failed to detect language for comment at index 33299.
Failed to detect language for comment at index 33723❣️
Failed to detect language for comment at index 33949-
Failed to detect language for comment at index 34008We hebben een heel fijn weekend gehad in dit fijne & mooie appartement!
Failed to detect language for comment at index 34141.
Failed to detect language for comment at index 34368nan
Failed to detect language for comment at index 34596.
Failed to detect language for comment at index 34603-
Failed to detect language for comment at index 34770-
Failed to detect language for comment at index 34809:-)
Failed to detect language for comment at index 34943.
Failed to detect language for comment at index 35019.
Failed to detect language for comment at index 35089nan
Failed to detect language for comment at index 35255.
Failed to detect language for comment at index 35604.
Failed to detect language for comment at index 35616.
Failed to detect language for comment at index 35646:-)
Failed to detect language for comment at index 35660Fijn appartement op een perfecte locatie hartje Antwerpen - zo gemakkelijk om dicht bij alles te logeren.  Alle voorzieningen dik in orde - geen enkele opmerking te maken
Failed to detect language for comment at index 35824.
Failed to detect language for comment at index 36281.
Failed to detect language for comment at index 36849Fraai, schoon loft, mooie locatie en het in- en uitchecken was uitstekend geregeld.
Failed to detect language for comment at index 37001.
Failed to detect language for comment at index 37133nan
Failed to detect language for comment at index 37712...
Failed to detect language for comment at index 37866/
Failed to detect language for comment at index 37933...
Failed to detect language for comment at index 37984.
Failed to detect language for comment at index 38042-
Failed to detect language for comment at index 38809nan
Failed to detect language for comment at index 3885110
Failed to detect language for comment at index 39319.
Failed to detect language for comment at index 39328.
Failed to detect language for comment at index 39366...
Failed to detect language for comment at index 39842nan
Failed to detect language for comment at index 39918nan
Failed to detect language for comment at index 39946Een superleuk appartement midden in de stad met genoeg ruimte voor 4 personen.  Alle hotspots zijn goed lopend te doen en anders is het openbaar vervoer ook heel dichtbij! Goed en makkelijk contact met de hosts.
Failed to detect language for comment at index 40097nan
Failed to detect language for comment at index 40120.
Failed to detect language for comment at index 40322.
Failed to detect language for comment at index 40941.
Failed to detect language for comment at index 41202.
Failed to detect language for comment at index 41471nan
Failed to detect language for comment at index 41940.
Failed to detect language for comment at index 423825/5
Failed to detect language for comment at index 428600
Failed to detect language for comment at index 43056..
Failed to detect language for comment at index 43103.
Failed to detect language for comment at index 43306nan
Failed to detect language for comment at index 43609/
Failed to detect language for comment at index 44145.
Failed to detect language for comment at index 44254/
Failed to detect language for comment at index 44256Appartement très bien situé, au pied de la cathédrale donc très central. L'appartement est lumineux, propre et bien entretenu.
Failed to detect language for comment at index 44317Wir haben uns bei Kristel direkt wohl gefühlt. Die Wohnung ist wunderschön und sauber, hat eine tolle Lage und die Gastgeberin hilft gerne mit Tipps für Parkplätze, Gastronomie etc. Absolut empfehlenswert, vielen Dank Kristel!
Failed to detect language for comment at index 44413Een leuke kamer met alles wat je nodig hebt.
Failed to detect language for comment at index 44554.
Failed to detect language for comment at index 44857nan
Failed to detect language for comment at index 44948.
Failed to detect language for comment at index 45399.
Failed to detect language for comment at index 455210
Failed to detect language for comment at index 45595Wat een zalig appartementje! Zeer stijlvol ingericht en alles wat je nodig hebt is aanwezig. Een aanrader!
Failed to detect language for comment at index 45600Warm en stijlvol appartement in een leuke buurt, op wandelafstand van centum A'pen. Een aanrader!
Failed to detect language for comment at index 45673.
Failed to detect language for comment at index 45939Perfekte Lage am Vrijdagmarkt! Kurze Wege, geräumige Wohnung, sehr netter Empfang, bequeme Betten!<br/>Alles Bestens!
Failed to detect language for comment at index 46102nan
Failed to detect language for comment at index 46119.
Failed to detect language for comment at index 46131.
Failed to detect language for comment at index 46136nan

,review_id,listing_id,date,reviewer_id,reviewer_name,comments,Translated_Comment
0,1,50904,2015-05-06 00:00:00.000000,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...,Karin’s “Aplace” is absolutely beautiful and c...
1,2,50904,2021-10-10 00:00:00.000000,333559,Emilie,"Karin is a wonderful host, she was really help...","Karin is a wonderful host, she was really help..."
2,3,116134,2012-03-05 00:00:00.000000,928644,Aurélien,"Amazing flat, really close from the MAS Musem,...","Amazing flat, really close from the MAS Musem,..."
3,4,116134,2012-05-25 00:00:00.000000,231288,Gail,"This is a well equipped, very comfortable apar...","This is a well equipped, very comfortable apar..."
4,5,116134,2013-09-03 00:00:00.000000,7984251,Marcel,This is a very nice appartement. We really lik...,This is a very nice appartement. We really lik...
...,...,...,...,...,...,...,...
62982,62983,53538847,2021-12-05 00:00:00.000000,48076753,Serge,The place as it's shown in the photos. Great l...,The place as it's shown in the photos. Great l...
62983,62984,53600839,2021-12-12 00:00:00.000000,6635741,Dániel,The spacious apartment is idyllically located ...,The spacious apartment is idyllically located ...
62984,62985,53819793,2021-12-21 00:00:00.000000,247934155,Gijs,It was great,It was great
62985,62986,53825194,2021-12-19 00:00:00.000000,361042882,Siarhei,Flor es muy atenta y me ayudo mucho entrando a...,Flor is very attentive and helped me a lot ent...
62986,62987,53825194,2021-12-23 00:00:00.000000,196552814,Inne,Toplocatie. Flor is heel vriendelijk en reagee...,Top location.Flor is very friendly and respond...

#### Type	            | Count
#### nan	                | 64
#### Not Actual comments	| 232
#### Actual comments	    | 58
#### total	            | 354

In [10]:
reviews.to_csv('translateed_reviews.csv')

In [91]:

def analyze_sentiment(comment):
    analysis = TextBlob(str(comment))
    if analysis.sentiment.polarity < -0.5:
        return 1
    elif -0.5 <= analysis.sentiment.polarity < -0.1:
        return 2
    elif -0.1 <= analysis.sentiment.polarity < 0.1:
        return 3
    elif 0.1 <= analysis.sentiment.polarity < 0.5:
        return 4
    else:
        return 5

reviews['sentiment_score'] = reviews['Translated_Comment'].apply(analyze_sentiment)
reviews

,Unnamed: 0,review_id,listing_id,date,reviewer_id,reviewer_name,comments,Translated_Comment,sentiment_score
0,0,1,50904,2015-05-06 00:00:00.000000,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...,Karin’s “Aplace” is absolutely beautiful and c...,4
1,1,2,50904,2021-10-10 00:00:00.000000,333559,Emilie,"Karin is a wonderful host, she was really help...","Karin is a wonderful host, she was really help...",4
2,2,3,116134,2012-03-05 00:00:00.000000,928644,Aurélien,"Amazing flat, really close from the MAS Musem,...","Amazing flat, really close from the MAS Musem,...",4
3,3,4,116134,2012-05-25 00:00:00.000000,231288,Gail,"This is a well equipped, very comfortable apar...","This is a well equipped, very comfortable apar...",4
4,4,5,116134,2013-09-03 00:00:00.000000,7984251,Marcel,This is a very nice appartement. We really lik...,This is a very nice appartement. We really lik...,5
...,...,...,...,...,...,...,...,...,...
62982,62982,62983,53538847,2021-12-05 00:00:00.000000,48076753,Serge,The place as it's shown in the photos. Great l...,The place as it's shown in the photos. Great l...,5
62983,62983,62984,53600839,2021-12-12 00:00:00.000000,6635741,Dániel,The spacious apartment is idyllically located ...,The spacious apartment is idyllically located ...,3
62984,62984,62985,53819793,2021-12-21 00:00:00.000000,247934155,Gijs,It was great,It was great,5
62985,62985,62986,53825194,2021-12-19 00:00:00.000000,361042882,Siarhei,Flor es muy atenta y me ayudo mucho entrando a...,Flor is very attentive and helped me a lot ent...,5
62986,62986,62987,53825194,2021-12-23 00:00:00.000000,196552814,Inne,Toplocatie. Flor is heel vriendelijk en reagee...,Top location.Flor is very friendly and respond...,5

In [92]:
nltk.download('vader_lexicon')
sid = SentimentIntensityAnalyzer()

def analyze_sentiment(comment):
    scores = sid.polarity_scores(str(comment))
    if scores['compound'] >= 0.5:
        return 5
    elif 0.2 <= scores['compound'] < 0.5:
        return 4
    elif -0.2 <= scores['compound'] < 0.2:
        return 3
    elif -0.5 <= scores['compound'] < -0.2:
        return 2
    else:
        return 1

reviews['sentiment_score_2'] = reviews['Translated_Comment'].apply(analyze_sentiment)
reviews

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\rsrdj\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,Unnamed: 0,review_id,listing_id,date,reviewer_id,reviewer_name,comments,Translated_Comment,sentiment_score,sentiment_score_2
0,0,1,50904,2015-05-06 00:00:00.000000,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...,Karin’s “Aplace” is absolutely beautiful and c...,4,5
1,1,2,50904,2021-10-10 00:00:00.000000,333559,Emilie,"Karin is a wonderful host, she was really help...","Karin is a wonderful host, she was really help...",4,5
2,2,3,116134,2012-03-05 00:00:00.000000,928644,Aurélien,"Amazing flat, really close from the MAS Musem,...","Amazing flat, really close from the MAS Musem,...",4,5
3,3,4,116134,2012-05-25 00:00:00.000000,231288,Gail,"This is a well equipped, very comfortable apar...","This is a well equipped, very comfortable apar...",4,5
4,4,5,116134,2013-09-03 00:00:00.000000,7984251,Marcel,This is a very nice appartement. We really lik...,This is a very nice appartement. We really lik...,5,5
...,...,...,...,...,...,...,...,...,...,...
62982,62982,62983,53538847,2021-12-05 00:00:00.000000,48076753,Serge,The place as it's shown in the photos. Great l...,The place as it's shown in the photos. Great l...,5,5
62983,62983,62984,53600839,2021-12-12 00:00:00.000000,6635741,Dániel,The spacious apartment is idyllically located ...,The spacious apartment is idyllically located ...,3,1
62984,62984,62985,53819793,2021-12-21 00:00:00.000000,247934155,Gijs,It was great,It was great,5,5
62985,62985,62986,53825194,2021-12-19 00:00:00.000000,361042882,Siarhei,Flor es muy atenta y me ayudo mucho entrando a...,Flor is very attentive and helped me a lot ent...,5,3
62986,62986,62987,53825194,2021-12-23 00:00:00.000000,196552814,Inne,Toplocatie. Flor is heel vriendelijk en reagee...,Top location.Flor is very friendly and respond...,5,5

In [93]:
setiment_score_grouped = reviews.groupby('listing_id')['sentiment_score','sentiment_score_2'].mean().round(2).reset_index()
setiment_score_grouped

C:\Users\rsrdj\AppData\Local\Temp\ipykernel_2748\2004916890.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  setiment_score_grouped = reviews.groupby('listing_id')['sentiment_score','sentiment_score_2'].mean().round(2).reset_index()

      listing_id  sentiment_score  sentiment_score_2
0          50904             4.00               5.00
1         116134             4.35               4.92
2         218916             4.21               4.93
3         224333             4.00               4.00
4         224682             4.25               4.89
...          ...              ...                ...
1520    53522234             4.00               5.00
1521    53538847             5.00               5.00
1522    53600839             3.00               1.00
1523    53819793             5.00               5.00
1524    53825194             5.00               4.00

[1525 rows x 3 columns]

In [94]:
listings = pd.merge(listings,setiment_score_grouped,on='listing_id',how='left')
listings.shape

(1749, 18)

In [95]:
listings[['sentiment_score','sentiment_score_2']]=listings[['sentiment_score','sentiment_score_2']].fillna(0)
listings.shape

(1749, 18)

In [96]:
listings =pd.merge(listings,host,on='host_id',how='left')
listings.shape

(1749, 23)

In [97]:
listings =pd.merge(listings,grouped_calender,on='listing_id',how='left')
print(listings.shape)
listings

(1749, 33)

,listing_id,listing_url,name,description,latitude,longitude,property_type,room_type,accomodates,bathrooms_text,...,date,price,adjusted_price,minimum_nights,maximum_nights,target,total_days,count_available,count_not_available,count_no_status
0,50904,https://www.airbnb.com/rooms/50904,aplace/antwerp: cosy suite - fashion district,Decorated in a vintage style combined with a f...,51.218575,4.398631,Room in boutique hotel,Hotel room,2,1 private bath,...,2022-12-25,165.329670,160.241758,1.0,60.0,160.241758,364.0,132.0,50.0,182.0
1,116134,https://www.airbnb.com/rooms/116134,Spacious apartment nearby Mas,Enjoy your stay at our 4 person apartment in t...,51.230510,4.405930,Entire rental unit,Entire home/apt,4,2.5 baths,...,2022-12-25,150.000000,150.000000,2.0,1125.0,150.000000,362.0,167.0,38.0,157.0
2,218916,https://www.airbnb.com/rooms/218916,Apartment with terrace in trendy Zurenborg,Do you enjoy authentic places with a lot of ch...,51.206330,4.429420,Entire condominium (condo),Entire home/apt,5,1 bath,...,2022-12-24,85.000000,85.000000,1.0,50.0,85.000000,362.0,0.0,183.0,179.0
3,224333,https://www.airbnb.com/rooms/224333,Large stylish room in 1930s house + garden,"Large bedroom in classic 1930s house. Kitchen,...",51.197720,4.458530,Private room in residential home,Private room,2,2 shared baths,...,2022-12-25,16.000000,16.000000,14.0,365.0,16.000000,364.0,175.0,14.0,175.0
4,224682,https://www.airbnb.com/rooms/224682,APARTMENT ROSCAM - OLD CENTRE ANTWERP,"<b>The space</b><br />Apartment ""Roscam"" is a ...",51.217220,4.397900,Entire rental unit,Entire home/apt,3,1 bath,...,2022-12-24,87.272727,87.272727,2.0,30.0,87.272727,356.0,150.0,26.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,53916524,https://www.airbnb.com/rooms/53916524,Industrial spacious loft in Antwerp!,Industrial loft (110m²) with a relaxing urban ...,51.231330,4.403520,Entire loft,Entire home/apt,2,1.5 baths,...,2022-12-25,88.000000,88.000000,3.0,365.0,88.000000,364.0,194.0,13.0,157.0
1745,53928545,https://www.airbnb.com/rooms/53928545,Studio in het midden van Antwerpen,Recent gerenoveerde rustige studio van circa 2...,51.213210,4.397080,Entire rental unit,Entire home/apt,2,1 bath,...,2022-12-24,49.000000,49.000000,20.0,1125.0,49.000000,363.0,195.0,0.0,168.0
1746,53929354,https://www.airbnb.com/rooms/53929354,Mooi appartement met open haard,Vanuit deze ideaal gelegen accommodatie kun je...,51.200340,4.421060,Entire rental unit,Entire home/apt,4,1 bath,...,2022-12-24,90.000000,90.000000,1.0,365.0,90.000000,358.0,173.0,2.0,183.0
1747,53949105,https://www.airbnb.com/rooms/53949105,Kasteel Boterlaerhof vlakbij Antwerpen,"Kasteel Boterlaerhof ligt ideaal gelegen, op 1...",51.212320,4.482230,Castle,Entire home/apt,16,7.5 baths,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1748,53983318,https://www.airbnb.com/rooms/53983318,Infinite luxury stay in the heart of Antwerp,"Experience, modern stylish luxury stay in the ...",51.214580,4.399620,Entire rental unit,Entire home/apt,3,1.5 baths,...,2022-12-24,150.000000,150.000000,3.0,365.0,150.000000,362.0,172.0,2.0,188.0

In [99]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1749 entries, 0 to 1748
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   listing_id             1749 non-null   int64
 1   listing_url            1749 non-null   object
 2   name                   1749 non-null   object
 3   description            1679 non-null   object
 4   latitude               1749 non-null   float64
 5   longitude              1749 non-null   float64
 6   property_type          1749 non-null   object
 7   room_type              1749 non-null   object
 8   accomodates            1749 non-null   int64
 9   bathrooms_text         1749 non-null   object
 10  bedrooms               1621 non-null   float64
 11  beds                   1708 non-null   float64
 12  amenities              1749 non-null   object
 13  host_id                1749 non-null   int64
 14  # of amenities         1749 non-null   int64
 15  Category of amenities  1749 non-null   category
 16  sentiment_score        1749 non-null   float64
 17  sentiment_score_2      1749 non-null   float64
 18  host_name              1749 non-null   object
 19  host_since             1749 non-null   object
 20  host_location          1746 non-null   object
 21  host_about             865 non-null    object
 22  Host Age               1749 non-null   float64
 23  date                   1667 non-null   datetime64[ns]
 24  price                  1667 non-null   float64
 25  adjusted_price         1667 non-null   float64
 26  minimum_nights         1667 non-null   float64
 27  maximum_nights         1667 non-null   float64
 28  target                 1667 non-null   float64
 29  total_days             1667 non-null   float64
 30  count_available        1667 non-null   float64
 31  count_not_available    1667 non-null   float64
 32  count_no_status        1667 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(16), int64(4), object(11)
memory usage: 452.8+ KB

In [98]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

pridiction_df = listings.select_dtypes(include=numerics)
pridiction_df

,listing_id,latitude,longitude,accomodates,bedrooms,beds,host_id,# of amenities,sentiment_score,sentiment_score_2,Host Age,price,adjusted_price,minimum_nights,maximum_nights,target,total_days,count_available,count_not_available,count_no_status
0,50904,51.218575,4.398631,2,1.0,1.0,234077,33,4.00,5.00,13.58,165.329670,160.241758,1.0,60.0,160.241758,364.0,132.0,50.0,182.0
1,116134,51.230510,4.405930,4,2.0,2.0,586942,47,4.35,4.92,12.92,150.000000,150.000000,2.0,1125.0,150.000000,362.0,167.0,38.0,157.0
2,218916,51.206330,4.429420,5,1.0,3.0,915664,41,4.21,4.93,12.70,85.000000,85.000000,1.0,50.0,85.000000,362.0,0.0,183.0,179.0
3,224333,51.197720,4.458530,2,1.0,1.0,1167377,12,4.00,4.00,12.58,16.000000,16.000000,14.0,365.0,16.000000,364.0,175.0,14.0,175.0
4,224682,51.217220,4.397900,3,1.0,2.0,1263933,21,4.25,4.89,12.52,87.272727,87.272727,2.0,30.0,87.272727,356.0,150.0,26.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,53916524,51.231330,4.403520,2,1.0,1.0,46300712,37,0.00,0.00,8.51,88.000000,88.000000,3.0,365.0,88.000000,364.0,194.0,13.0,157.0
1745,53928545,51.213210,4.397080,2,NaN,1.0,74268936,10,0.00,0.00,7.88,49.000000,49.000000,20.0,1125.0,49.000000,363.0,195.0,0.0,168.0
1746,53929354,51.200340,4.421060,4,1.0,2.0,334036639,25,0.00,0.00,4.18,90.000000,90.000000,1.0,365.0,90.000000,358.0,173.0,2.0,183.0
1747,53949105,51.212320,4.482230,16,7.0,33.0,377595714,29,0.00,0.00,3.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1748,53983318,51.214580,4.399620,3,1.0,1.0,437309332,35,0.00,0.00,2.30,150.000000,150.000000,3.0,365.0,150.000000,362.0,172.0,2.0,188.0

In [42]:
listings.shape

(296446, 32)